body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
}

.bg-dark{
    background-color:#329EA5 !important;
}



.navbar-dark .navbar-toggler{
    border:none;
}

.single-pet-image{
    background-size:cover;
    width:150px;
    height: 200px;
}

.single-pet-image h3{
    position: relative;
    top: 176px;
    background-color: rgba(255,255,255,0.8);
    font-size: 20px;

}

.pet-page{
    background-color: white;
    color: black;
}



/* 
.indi-pet{
    margin-left: 6px;
    margin-right: 6px;
} */


#all-pets > div:nth-child(1) > div.single-pet-image{
    background-image: url('/img/cat-on-coach.jpg') ;
}

#all-pets > div:nth-child(2) > div.single-pet-image{
    background-image: url('/img/cat-on-coach.jpg') ;
}

#all-pets > div:nth-child(3) > div.single-pet-image{
    background-image: url('/img/cat-on-coach.jpg') ;
}
#all-pets > div:nth-child(4) > div.single-pet-image{
    background-image: url('/img/cat-on-coach.jpg') ;
}
#all-pets > div:nth-child(5) > div.single-pet-image{
    background-image: url('/img/cat-on-coach.jpg') ;
}
#all-pets > div:nth-child(6) > div.single-pet-image{
    background-image: url('/img/cat-on-coach.jpg') ;
}