body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
}

.bg-dark{
    background-color:#329EA5 !important;
}



.navbar-dark .navbar-toggler{
    border:none;
}

.single-pet-image{
    background-size:cover;
    width:150px;
    height: 200px;
}

.single-pet-image h3{
    position: relative;
    top: 176px;
    background-color: rgba(255,255,255,0.8);
    font-size: 20px;

}

.pet-page{
    background-color: white;
    color: black;
}
/* 
.indi-pet{
    margin-left: 6px;
    margin-right: 6px;
} */

.Traits h3{
    font-size:15px !important;
}
.filter-section{
    display: flex;
    flex-direction: column;
}
.filter{
    align-self: flex-end;
}

.filter-button{
    align-self: center;
    margin-bottom: 15px;
}

.filter-button button{
    background-color: #339ea5;
    border: none;
    border-radius: 25px;
    padding: 2px;
    width: 90px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}